.about {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.about__title {
  margin: 0;
  padding: 30px 30px;

  font-size: 25px;
  line-height: 30px;
  color: $black;
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__item {
  margin: 0;
  padding: 55px 30px 28px;

  list-style: none;
  color: $black;
}

@media (min-width: $tablet-width) {
  .about {
    width: 768px;
    padding: 0 50px;
    margin: 0 auto 30px;
  }

  .about__title {
    width: 669px;
    padding: 50px 0;
    margin: 0 auto;

    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 50%;
    padding: 55px 0;

    font-size: 20px;
    line-height: 22px;

    &--manually {
      order: 1;
    }

    &--style {
      order: 2;
    }

    &--patriotism {
      order: 3;
    }

    &--like {
      order: 4;
    }

    &--gift {
      order: 5;
    }
  }

  .about__item:nth-of-type(3n) {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 1150px;
    margin: 60px auto 87px;
    padding: 0 50px;
  }

  .about__title {
    margin-left: 168px;
    padding: 0 0 51px;

    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    margin: 0 175px;
  }

  .about__item {
    width: 50%;
    margin: 0 0 60px;
    padding: 50px 0 0 0;
  }
}
