.button {
  width: 260px;
  padding: 15px 0;

  text-align: center;
  color: $color-text;
  text-transform: uppercase;

  background-color: $white;
  border: 2px solid $color-text;

  cursor: pointer;
}

.button:hover {
  color: $white;
  background: $color-text;
}

.button:active {
  color: rgba($white, 0.3);
}
