.catalog {
  width: $mobile-width;
  margin: 30px auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 12px auto 0;
    padding: 0 50px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    padding: 0;
  }
}

.catalog__item {
  margin: 0 0 29px;

  list-style: none;

  border: 1px solid $grey-border;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 53px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
    height: 657px;
    margin: 0 52px 60px 0;
  }
}

.catalog__item:nth-child(3) {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog__link-photo {
  display: block;
  margin: 0 0 23px;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    height: 333px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
    height: 464px;
    margin: 0 0 20px;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 165px;
    margin: 0;
    padding: 0;
  }
}

.catalog__link {
  display: block;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 19px 0 0 3px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog__title {
  margin: 0 0 5px;
  padding: 0 28px;

  font-size: 17px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding: 5px 25px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 25px;
  }
}

.catalog__title br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog__description {
  margin: 0 0 22px;
  padding: 0 17px 0 28px;

  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    margin-bottom: auto;
    padding: 0 25px 10px 28px;

    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 25px;
  }
}

.catalog__control {
  position: relative;
  display: flex;
  min-height: 72px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 70px;
  }
}

.catalog__control::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  flex-grow: 1;
  width: 78%;
  margin: 0 30px;
  height: 1px;


  background-color: $grey-border;
}

.catalog__price {
  padding: 20px 28px 25px;

  font-size: 15px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: auto;
    padding: 25px 0 27px 33px;

    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
    padding: 23px 25px;
  }
}

.catalog__button {
  position: relative;

  margin-left: auto;

  font-size: 0;

  background-color: transparent;
  border: none;
  outline: none;
}

.catalog__button-image {
  z-index: 1;

  width: 20px;
  height: 19px;
  margin: 0 20px 10px 0;

  cursor: pointer;
  opacity: 0.2;

  fill: $color-text;

  @media (min-width: $tablet-width) {
    margin: 0 25px 7px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 25px 10px auto;
  }
}

.catalog__button:hover .catalog__button-image {
  cursor: pointer;
  opacity: 1;

  fill: $aquamarine-lighter;
}

.catalog__button:active .catalog__button-image {
  cursor: pointer;
  opacity: 0.3;

  fill: $aquamarine-lighter;
}

.catalog__item:hover .catalog__wrapper {
  box-shadow: 0 10px 25px 0 $grey-border;
}

.catalog__item:active .catalog__wrapper {
  box-shadow: 0 5px 15px 0 $grey-border;
}
