.categories {
  z-index: -1;

  margin-bottom: 3px;

  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;
}

.categories__title {
  width: 320px;
  margin: 0 auto;
  padding: 70px 30px 125px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.categories__list {
  margin: 0;
  padding: 0;
}

.categories__link {
  display: block;

  font-size: 19px;
  line-height: 24px;
  color: $white;
  text-decoration: none;
  &--lighter {
    width: auto;

    background-color: $aquamarine-lighter;
  }
  &--darker {
    width: auto;

    background-color: $aquamarine-darker;
  }
}

.categories__item {
  width: 320px;
  margin: 0 auto;
  padding: 24px 30px 30px;

  list-style: none;
}

@media(min-width: $tablet-width) {
  .categories {
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 748px;
    margin-top: -90px;

    background-color: $grey-categories;
  }

  .categories__wrapper {
    width: 668px;
    min-height: 627px;
    margin: 0 auto;
  }

  .categories__title {
    width: 668px;
    margin: 0 auto;
    padding: 155px 20px 20px;

    font-size: 43px;
    line-height: 50px;
  }

  .categories__list {
    display: flex;
  }

  .categories__link {
    display: flex;
    flex-grow: 1;
  }

  .categories__item {
    width: 334px;
    margin: 0;
    padding: 30px 35px;

    font-size: 20px;
    line-height: 30px;
    &--lighter {
      margin-left: auto;
    }
    &--darker {
      margin-right: auto;
    }
  }
}

@media(min-width: $desktop-width) {
  .categories__wrapper {
    width: 1050px;
    min-height: 628px;
    margin: 0 auto;
  }

  .categories__link {
    width: 50%;
  }

  .categories__title {
    margin: 0 auto;
    padding: 155px 20px 20px 25px;

    font-size: 53px;
    line-height: 57px;
  }

  .categories__list {
    width: 1050px;
    margin: 0 auto;
  }
  
  .categories__item {
    width: 525px;
    padding: 27px 35px;
  }
}
