.contacts {
  margin-bottom: 41px;
}

.contacts__title {
  width: 320px;
  margin: 0 auto;
  padding: 37px 30px 25px;

  font-size: 18px;
  line-height: 30px;
  color: $black;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
}

.contacts__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-text;
}

.contacts__field {
  width: 80px;
  margin: 0 27px 0 0;
  padding: 0 0 31px 30px;
}

.contacts__value {
  width: 183px;
  margin: 0;
  padding: 0;
}

.contacts__link {
  display: block;
  margin: 0;
  padding: 0;

  color: $color-text;
  text-decoration: none;
}

.contacts__write {
  display: block;
  margin: 0 auto;

  text-decoration: none;
}

@media(min-width: $tablet-width) {
  .contacts {
    width: 668px;
    margin: 0 auto 55px;
  }

  .contacts__title {
    width: 668px;
    margin: 0;
    padding: 63px 0 0;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__wrapper {
    display: flex;
    width: 668px;
  }

  .contacts__write {
    width: 230px;
  }

  .contacts__list {
    width: 334px;
  }

  .contacts__field {
    margin: 0;
    padding: 48px 0 0 0;

    font-size: 17px;
    line-height: 30px;
  }

  .contacts__value {
    width: 255px;
    margin: 0;
    padding: 48px 0 0 0;

    font-size: 17px;
    line-height: 30px;
  }

  .contacts__no-rapw {
    display: none;
  }
}

@media(min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1050px;
    height: 460px;
    margin-top: 66px;
  }

  .contacts__title {
    width: 350px;
    margin: 0 0 0 175px;
    padding: 68px 0 0;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin: 11px 0 0 175px;
    padding: 0;
  }

  .contacts__map {
    order: 1;
    width: 525px;
    height: 460px;
    margin: 0;
    padding: 0;
  }

  .contacts__list {
    width: 350px;
  }

  .contacts__field {
    padding: 35px 0 0 0;
  }

  .contacts__value {
    padding: 35px 0 0 0;
  }
  
  .contacts__write {
    margin: 78px 50px 0 175px;
  }
}
