.copyright {
  min-height: 80px;
  padding: 0 30px;
}

.copyright__text {
  margin: 0;
  padding: 23px 0 0 40px;

  font-size: 19px;
  line-height: 24px;
  color: $black;
}

.copyright__link {
  position: relative;
  font-size: 0;

  &::after {
    content: "";
    position: absolute;

    width: 28px;
    height: 35px;
    bottom: 7px;
    left: 195px;

    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding: 0;
    width: 185px;
  }

  .copyright__text {
    padding: 30px 10px 0 17px;
  }

  .copyright__link::after {
    bottom: 7px;
    left: 175px;
  }
}
