.copyright {
  width: $mobile-width;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 183px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
  }
}

.copyright__link {
  display: flex;

  text-decoration: none;

  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 185px;

    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    top: 2px;
    left: 0;
  }
}

.copyright__text {
  width: 125px;
  margin: 25px 31px 25px 38px;

  font-size: 19px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0 30px 0 0;
    padding: 13px 0 10px;
  }
}

.copyright__link-image {
  width: 28px;
  height: 35px;
  margin: 21px 0 0;

  @media (min-width: $tablet-width) {
    margin: 11px 0 0;
    padding: 0;
  }
}
