.form-modal__title {
  margin: 0 0 12px;
  padding: 12px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: $color-text;
}

.form-modal__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form-modal__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.form-modal__list {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .form-modal__title {
    margin: 0 0 10px;

    font-size: 17px;
    line-height: 30px;
    color: $color-text;
  }

  .form-modal__wrapper {
    width: 350px;
  }
}
