.form {
  width: auto;
}

.form__title {
  width: 100%;
  margin: 0;
  padding: 0;

  line-height: 16px;
  white-space: nowrap;
}

.form__title-decor {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  color: $aquamarine-lighter;
  text-transform: uppercase;

  &::after {
    content: "";
    z-index: 1;

    width: 208px;
    height: 1px;
    margin-left: 23px;

    background-color: $aquamarine-lighter;
  }
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form__item {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.form__radio-list {
  margin: 0 0 -11px;
  padding: 25px 0 41px;
}

.form__checkbox-list {
  margin: 0 0 -22px;
  padding: 25px 0 32px;
}

.form-checkbox-item {
  margin: 0 0 22px;
}

.form__text-list {
  margin: 0 0 -19px;
  padding: 29px 0 31px;
}

.form__text-item {
  display: flex;
  flex-direction: column;
  margin: 0 0 19px;
}

.form__tel-list {
  position: relative;

  padding: 7px 0 32px;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 8px;

    width: 25px;
    height: 24px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
  }
}

.form__mail-list {
  position: relative;

  margin: 0 0 33px 0;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    right: 5px;

    width: 32px;
    height: 26px;

    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
  }
}

.form__textarea {
  padding: 25px 0 12px;
}

.form__signature {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.form__text {
  margin: 0 0 31px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-text;
}

.form__submit {
  margin: 0;

  font: inherit;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__group:nth-of-type(even) {
    background-color: $grey-form;
  }

  .form__item {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
    padding: 50px 50px;
  }

  .form__title {
    width: 25%;
    margin: 0;
    padding: 20px 0 0;
  }

  .form__title-decor::after {
    display: none;
  }

  .form__radio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 0 -20px;
    padding: 0;
  }

  .form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0;
    padding: 0;
  }

  .form__checkbox-item {
    width: 200px;
    margin: 0;
  }

  .form__text-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    margin: 0 0 -20px;
    padding: 0;
  }

  .form__text-item {
    flex-direction: row;
    margin: 0 0 17px;
    padding: 0;
  }

  .form__tel-list {
    width: 75%;
    margin: 0;
    padding: 0;

    &::before {
      top: 13px;
      right: 26px;
    }
  }

  .form__mail-list {
    width: 75%;
    margin: 0 0 -2px;

    &::before {
      top: 13px;
      right: 22px;
    }
  }

  .form__signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: -4px auto 0;
    padding: 0 50px;
  }

  .form__text {
    order: 1;
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .form__submit {
    width: 230px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__item {
    width: 1150px;
    margin: 0 auto;
    padding: 50px 50px;
  }

  .form__title {
    width: 15%;
    padding: 15px 0 15px 60px;
  }

  .form__checkbox-list {
    width: 75%;
  }

  .form__text-list {
    width: 69%;
    margin-bottom: -22px;
  }

  .form__text-item {
    margin: 0 11px 22px 0;
  }

  .form__tel-list {
    width: 67%;
    margin: 0 15px 20px 17px;
  }

  .form__mail-list {
    width: 67%;
    margin: 0 15px 0 17px;
  }

  .form__signature {
    justify-content: space-evenly;
    width: 1150px;
    padding: 0 50px;
  }
}
