.form-radio {
  display: inline-block;
  width: 77px;
  margin: 0 0 30px 6px;
  padding: 12px 0;

  text-align: center;

  border: 2px solid rgba($color-text, 0.1);
  cursor: pointer;

  &:hover {
    border: 2px solid rgba($color-text, 0.3);
  }

  &:active {
    border: 2px solid rgba($aquamarine-lighter, 1);
  }
}

.form-radio:last-child {
  margin: 0 0 0 6px;
}

.form-radio__label {
  font-size: 17px;
  line-height: 20px;
  color: $color-text;
}

.form-radio__input {
  display: none;
}
