.form-radio {
  width: 260px;
  margin: 0 0 35px;
}

.form-radio__list {
  width: 80px;
  margin: 0;
  padding: 12px 0;

  text-align: center;

  border: 2px solid rgba($color-text, 0.1);
  cursor: pointer;

  &:hover {
    border: 2px solid rgba($color-text, 0.3);
  }

  &:active {
    border: 2px solid rgba($aquamarine-lighter, 1);
  }
}

.form-radio__label {
  font-size: 17px;
  line-height: 20px;
  color: $color-text;
}

.form-radio__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .form-radio {
    width: 350px;
  }

  .form-radio__list {
    width: 112px;
    margin: 0;
    padding: 14px 0;
  }
}
