.form-modal__title {
  margin: 0 0 12px;
  padding: 12px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: $color-text;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;

    font-size: 17px;
  }
}

.form-modal__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form-modal__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 350px;
  }
}

.form-modal__list {
  display: flex;
  justify-content: space-between;
}
