.form {
  width: auto;
}

.form__title {
  margin: 0;
  padding: 0;

  color: $aquamarine-lighter;
  text-transform: uppercase;
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form__wrapper {
  width: 320px;
  margin: 0 auto 57px;
  padding: 0 30px;
}

.form__radio-list {
  margin: 16px 0 33px;
}

.form__checkbox-list {
  margin: 5px 0 30px;
}

.form__tel-list {
  margin-bottom: 37px;
}

.form__text-list {
  margin: 0 0 -10px 0;
  padding: 24px 0 20px;
}

.form__text-item {
  margin: 0 0 22px 0;
  display: flex;
  flex-direction: column;
}

.form__mail-list {
  margin: 0 0 35px 0;
}

.form__signature {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.form__text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-text;
}

.form__submit {
  margin-top: 31px;

  font: inherit;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__group:nth-of-type(even) {
    background-color: $grey-form;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
    padding: 50px 50px;
  }

  .form__title {
    width: 25%;
    margin: 0;
    padding: 20px 0 0;
  }

  .form__radio-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: 0 0 -25px;
    padding: 0;
  }

  .form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0;
    padding: 0;
  }

  .form__checkbox-item {
    width: 200px;
    margin: 0;
  }

  .form__text-list {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0 -22px;
    padding: 0;
  }

  .form__text-item {
    flex-direction: row;
    padding: 0;
    margin: 0 0 17px;
  }

  .form__tel-list {
    width: 75%;
    margin: 0;
    padding: 0;
  }

  .form__mail-list {
    width: 75%;
    margin: 0 0 -6px;
  }

  .form__signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .form__text {
    order: 1;
    font-size: 17px;
    line-height: 30px;
  }

  .form__submit {
    width: 230px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 1150px;
    margin: 0 auto;
    padding: 50px 50px;
  }

  .form__title {
    width: 15%;
    padding: 15px 0 15px 60px;

    white-space: nowrap;
  }

  .form__checkbox-list {
    width: 75%;
  }

  .form__text-list {
    width: 69%;
    margin-bottom: -22px;
  }

  .form__text-item {
    margin: 0 11px 22px 0;
  }

  .form__tel-list {
    width: 67%;
    margin: 0 15px 20px 17px;
  }

  .form__mail-list {
    width: 67%;
    margin: 0 15px 0 17px;
  }

  .form__signature {
    width: 1150px;
    padding: 0 50px;
    justify-content: space-evenly;
  }
}
