.form-modal__title {
  margin: 0 0 13px;
  padding: 13px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: $color-text;
}

.form-modal__group {
  margin: 0;
  padding: 0;

  border: none;
}
