.goods-week {
  position: relative;

  width: 320px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0 30px;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;

    bottom: -42px;
    left: 0;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 300px 7px;
  }
}

.goods-week__titles {
  display: flex;
  flex-direction: column;
}

.goods-week__title {
  order: 1;
  margin: 0;
  margin-top: -25px;
  padding: 4px 0;

  font-size: 17px;
  line-height: 20px;
  color: $aquamarine-lighter;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .goods-week {
    width: 768px;
    margin: 0 auto 65px;
    padding: 0 50px;
  }

  .goods-week__titles {
    flex-direction: row;
    justify-content: space-between;
  }

  .goods-week__title {
    width: 125px;
    min-height: 55px;
    margin: 38px 0;
    padding: 11px 0;

    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .goods-week {
    width: 1150px;
    margin: 75px auto 97px;
    padding: 0 50px;
  }

  .goods-week__titles {
    padding-top: 43px;
  }

  .goods-week__title {
    min-height: 40px;
    margin: 8px 0 8px 30px;
    padding: 5px 20px 0 0;
  }
}
