.input-radio {
  position: relative;
  min-height: 46px;
  margin: 0;
  padding: 10px 9px 10px 60px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 17px 0 22px 80px;
    margin: 0 0 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0 25px 97px;
  }
}

.input-radio__label {
  padding: 0 2px;

  color: $black;

  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;

    font-size: 19px;
    line-height: 19px;
  }
}

.input-radio__input {
  margin-left: -20px;

  opacity: 0;
}

.input-radio__label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 39px;
  height: 39px;

  background-color: transparent;
  border: 2px solid $color-text;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;

    width: 52px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 17px;
  }
}

.input-radio__label:hover::before {
  border: 2px solid $aquamarine-lighter;
}

.input-radio__label:active::before {
  border: 2px solid $grey-border;
}

.input-radio__input:focus + .input-radio__label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.input-radio__input:checked + .input-radio__label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-color: $aquamarine-lighter;
  border-radius: 50%;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 16px;
    left: 16px;

    width: 20px;
    height: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 17px;
    left: 33px;
  }
}
