.input-textarea {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 75%;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 67%;
    margin: 0 0 -5px 17px;
  }
}

.input-textarea__input {
  width: 260px;
  min-height: 140px;
  padding: 15px;

  font-weight: 400;
  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: $color-text;

  border: 2px solid $color-text;
  cursor: text;

  @media (min-width: $desktop-width) {
    width: 700px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 145px;
    margin: 0;

    font-size: 19px;
    line-height: 19px;
  }
}

.input-textarea__input:hover,
.input-textarea__input:focus {
  border: 2px solid $aquamarine-lighter;
}
