.input-text {
  display: flex;
  flex-direction: column;
}

.input-text__label {
  padding: 0 0 0 0;
}

.input-text__input {
  width: 260px;
  padding: 13px 0;


  font-weight: 400;
  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: $color-text;
  border: none;
}
