.input-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-text__label {
  padding: 21px 0 10px;
}

.input-text__input {
  width: 260px;

  font-weight: 400;
  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: $color-text;
  border: none;
}
