.input-checkbox__label {
  display: block;
  margin: 0;
  padding: 29px 0 14px 63px;

  line-height: 18px;
  color: $black;
}

.input-checkbox__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .input-checkbox {
    width: 239px;
    margin: 0 0 17px;
    padding: 20px 0 20px 80px;
  }

  .form__checkbox-list {
    margin: 0 0 -25px;
  }

  .input-checkbox__label {
    padding: 0;

    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .input-checkbox {
    margin: 0 23px 22px 0;
    padding: 15px 0 20px 97px;
  }
}
