.input-text {
  position: relative;
}

.input-text__label {
  padding: 28px 0 0;

  line-height: 18px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 20px 25px 20px 0;

    font-size: 19px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 25px 15px 20px;
  }
}

.input-text__input {
  display: block;
  width: 260px;
  padding: 14px 16px 17px 0;

  font: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: $color-text;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $black;
  cursor: text;

  &:hover {
    border-bottom: 2px solid $aquamarine-lighter;
  }

  &:focus {
    border-bottom: 2px solid $aquamarine-lighter;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: 100%;
    padding: 12px 20px 14px;

    font-size: 19px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 20px 14px;
  }
}

.input-text__icon {
  content: "";
  position: absolute;
  top: 10px;
  right: 6px;

  opacity: 0.2;

  fill: $black;

  @media (min-width: $tablet-width) {
    top: 13px;
    right: 23px;
  }

  @media (min-width: $desktop-width) {
    top: 11px;
    right: 9px;
  }
}

.input-text__input:hover + .input-text__icon,
.input-text__input:focus + .input-text__icon {
  opacity: 1;

  fill: $aquamarine-lighter;
}
