.input-radio {
  margin: 0;
  padding: 15px 0 7px 63px;
}

.input-radio__label {
  padding: 17px 5px;

  color: $black;
}

.input-radio__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .input-radio {
    margin: 0;
    padding: 17px 0 17px 75px;
  }
}
