.input-checkbox {
  min-height: 39px;
  display: flex;
  align-items: center;
  margin: 0 0 22px;
}


.input-checkbox__label {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 0 0 63px;

  line-height: 18px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 39px;

    top: -11px;
    left: 0;

    border: 2px solid $color-text;
    background-color: transparent;
  }
}

.input-checkbox__input {
  display: none;
}

.input-checkbox__input:checked + .input-checkbox__label::after {
  content: "";
  position: absolute;

  width: 22px;
  height: 12px;

  top: 0;
  left: 9px;

  border: 2px solid $color-text;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

@media (min-width: $tablet-width) {
  .input-checkbox {
    width: 239px;
    margin: 0 0 17px;
    padding: 20px 0 20px 80px;
  }

  .form__checkbox-list {
    margin: 0 0 -25px;
  }

  .input-checkbox__label {
    padding: 0;

    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .input-checkbox {
    margin: 0 23px 22px 0;
    padding: 15px 0 20px 97px;
  }
}
