.input-checkbox__label {
  display: block;
  margin: 0;
  padding: 29px 0 14px 63px;

  line-height: 18px;
  color: $black;
}

.input-checkbox__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .input-checkbox__label {
    width: 200px;
    margin: 10px 0;
    padding: 17px 0 17px 75px;
  }
}
