.input-radio {
  position: relative;

  margin: 0;
  padding: 12px 0 12px 60px;

  line-height: 18px;
}

.input-radio__label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 39px;
  height: 39px;

  background-color: transparent;
  border: 2px solid $color-text;
  border-radius: 50%;

  cursor: pointer;
}

.input-radio__input:checked + .input-radio__label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 39px;
  height: 39px;

  background-color: $aquamarine-lighter;
  border-radius: 50%;
  box-shadow: inset 0 0 0 9px $white;
}

.input-radio__label {
  padding: 17px 2px;

  color: $black;
}

.input-radio__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .input-radio {
    width: 100%;
    margin: 3px 0 22px;
    padding: 15px 0 15px 80px;
  }

  .input-radio__label {
    margin: 0;
    padding: 0;

    font-size: 19px;
    line-height: 19px;

    &::before {
      top: -1px;
      left: 0;

      width: 52px;
      height: 52px;
    }
  }

  .input-radio__input:checked + .input-radio__label::before {
    top: -1px;
    left: 0;

    width: 52px;
    height: 52px;

    background-color: $aquamarine-lighter;
    border-radius: 50%;
    box-shadow: inset 0 0 0 14px $white;
  }
}

@media (min-width: $desktop-width) {
  .input-radio {
    width: 100%;
    margin: 0 0 27px;
    padding: 14px 0 14px 97px;
  }

  .input-radio__label {
    margin: 0;
    padding: 0;

    &::before {
      top: -2px;
      left: 17px;
    }
  }

  .input-radio__input:checked + .input-radio__label::before {
    top: -2px;
    left: 17px;
  }
}
