.input-textarea {
  margin: 24px 0 12px 0;
}

.input-textarea__input {
  width: 260px;
  min-height: 140px;
  padding: 14px 17px;

  font-weight: 400;
  font-size: inherit;
  line-height: 18px;
  font-family: inherit;
  color: $color-text;

  border: 1px solid $color-text;
}

@media (min-width: $tablet-width) {
  .input-textarea {
    width: 75%;
    margin: 4px 0 0;
    padding: 0;
  }

  .input-textarea__input {
    width: 100%;
    margin: 0;
    padding: 14px 0 0 15px;

    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .input-textarea {
    width: 67%;
    margin: 0 0 -5px 17px;
  }

  .input-textarea__input {
    width: 700px;
  }
}
