.knitted-baskets {
  position: relative;

  display: flex;
  flex-basis: $mobile-width;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 50%;
    min-height: 404px;
    margin: 0;
    padding-right: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 0 55px 0 174px;
    margin-right: auto;
  }
}

.knitted-baskets__description {
  padding: 4px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 0 7px;
    padding: 0;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 0 40px 0;
    padding: 0 15px 0 0;
  }
}

.knitted-baskets__list {
  margin-bottom: 28px;

  border-collapse: collapse;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    width: 290px;
    margin: 30px 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 8px 0 60px -14px;
  }
}

.knitted-baskets__list tr {
  border-bottom: 1px solid $grey-border;
}

.knitted-baskets__field {
  padding: 9px 0;

  @media (min-width: $tablet-width) {
    padding: 7px 0 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 0 12px 15px;
  }
}

.knitted-baskets__value {
  padding: 0 0 0 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 5px 15px;
  }
}

.knitted-baskets__image {
  width: 260px;
  height: 315px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 10px;
    left: 100%;

    order: 1;
    width: 333px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    top: -160px;
    left: 100%;
    z-index: -1;

    width: 525px;
    height: 636px;
    margin: 0;
  }
}

.knitted-baskets__price {
  display: block;
  margin: 17px 0 20px;
  padding: 5px 7px;

  line-height: 24px;
  text-align: center;
  color: $color-text;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 0 27px;
    padding: 5px 5px 5px 10px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 35px 0 24px;
    padding: 10px 0 10px 0;
  }
}

.knitted-baskets__order {
  display: block;
  width: 100%;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 290px;
    margin-right: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 0 0 0;
  }
}
