.map {
  width: $mobile-width;
  height: 457px;
  margin: 0 auto 75px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto 55px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    width: 525px;
    height: 0;
  }
}

.map__iframe {
  position: relative;
  z-index: 20;

  width: $mobile-width;
  height: 457px;
  margin: 38px auto 35px;

  border: none;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: -327px;
    left: 260px;
    z-index: 20;

    order: 1;
    width: 525px;
  }
}

.map__image {
  content: "";
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 10;

  width: $mobile-width;
  height: 457px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;

    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    top: -327px;
    left: 260px;

    width: 525px;
  }
}

.map__pin {
  content: "";
  position: absolute;
  top: 180px;
  left: 140px;
  z-index: 11;

  width: 66px;
  height: 100px;

  @media (min-width: $tablet-width) {
    top: 140px;
    left: 364px;
  }

  @media (min-width: $desktop-width) {
    top: -180px;
    left: 500px;
  }
}
