.map {
  position: relative;

  width: 320px;
  margin: 0 auto 38px;

  .map__pin {
    content: "";
    position: absolute;
    top: 145px;
    left: 140px;
    z-index: 1;

    width: 66px;
    height: 100px;
  }
}

.map__image {
  width: 322px;
  height: 457px;
  margin: 38px auto 35px;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    margin: 0 auto 50px;
  }

  .map__pin {
    top: 140px;
    left: 364px;
  }

  .map__image {
    width: 768px;
    height: 457px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .map__pin {
    top: -180px;
    left: 625px;
  }

  .map__image {
    content: "";
    position: absolute;
    bottom: -130px;
    left: 383px;

    order: 1;
    width: 525px;
    height: 457px;
  }
}
