.map {
  width: 320px;
  margin: 0 auto;
}

.map__iframe {
  position: relative;
  z-index: 20;

  width: 322px;
  height: 457px;
  margin: 38px auto 35px;

  border: none;
}

.map__image {
  content: "";
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 10;

  margin: 0;
  padding: 0;
}

.map__pin {
  content: "";
  position: absolute;
  top: 180px;
  left: 140px;
  z-index: 11;

  width: 66px;
  height: 100px;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    margin: 0 auto 50px;
  }

  .map__iframe {
    width: 768px;
    height: 457px;
    margin: 0 auto;
  }

  .map__image {
    top: 0;
    left: 0;

    width: 768px;
    height: 457px;
  }

  .map__pin {
    top: 140px;
    left: 364px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;

    width: 525px;
  }

  .map__iframe {
    content: "";
    position: absolute;
    top: -327px;
    left: 260px;
    z-index: 20;

    order: 1;
    width: 525px;
    height: 457px;
  }

  .map__image {
    content: "";
    position: absolute;
    top: -327px;
    left: 260px;

    width: 525px;
    height: 457px;
  }

  .map__pin {
    top: -180px;
    left: 500px;
  }
}
