.modal {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.modal__title {
  margin: 0;
  padding: 36px 0 0;

  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.modal__submit {
  display: block;

  font-size: 17px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $aquamarine-lighter;
  border: none;
}
