.page-main {
  margin-bottom: 57px;
}

.page-main__wrapper {
  width: 100%;

  background-color: $light-grey;
  border-top: 1px solid $grey-border;
}

.page-main__title {
  width: 320px;
  margin: 0 auto;
  padding: 70px 30px 73px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $black;
}

.page-main__text {
  width: 320px;
  margin: 25px auto 23px;
  padding: 0 30px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.page-main__form {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .page-main {
    display: flex;
    flex-direction: column;
    margin: 0 0 55px;
  }

  .page-main__wrapper {
    z-index: -1;

    min-height: 225px;
    margin: -90px 0 80px;
  }

  .page-main__title {
    position: relative;

    width: 668px;
    min-height: 225px;
    margin: 0 auto;
    padding: 95px 15px 20px 30px;

    font-size: 43px;
    line-height: 50px;
    text-align: center;
    color: $black;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: -60px;

      width: 110vw;
      height: 17px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center 0;
      background-size: 780px;
    }
  }

  .page-main__text {
    width: 768px;
    margin: -7px auto 5px;
    padding: 0 50px;

    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-bottom: 47px;
  }

  .page-main__wrapper {
    min-height: 257px;
    margin: -90px 0 110px;
  }

  .page-main__title {
    width: 1050px;
    margin: 0 auto;
    padding: 95px 15px 20px 15px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      bottom: -31px;
      left: -190px;

      width: 110vw;
      height: 17px;

      background-position: 0 0;
      background-size: 1184px;
      background-repeat: repeat-x;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .page-main__text {
    width: 53%;
    margin: 0 auto 0;
    padding: 9px;
  }
}
