.page-header {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 50px;
  }
}
