.page-footer {
  background-color: $light-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    width: $tablet-width;
    padding: 40px 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding: 50px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 350px;
  }
}

.page-footer__logo-image {
  @media (min-width: $tablet-width) {
    fill: $black;
  }
}

.page-footer__logo-link[href]:hover .page-footer__logo-image {
  cursor: pointer;

  fill: $aquamarine-lighter;
}

.page-footer__logo-link[href]:active .page-footer__logo-image {
  color: $aquamarine-lighter;

  opacity: 0.3;
}
