.page-header {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-header__logo-image {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}
