.production {
  width: $mobile-width;
  margin: 0 auto 58px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: -3px auto 35px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    flex-wrap: wrap;
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 50px;
  }
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  border: 1px solid $grey-border;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 60px 0;
  }
}

.production__title {
  position: relative;
  margin: 26px 0;
  padding: 0 0 0 91px;

  font: inherit;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 29px 0 22px;
    padding: 10px 20px 10px 105px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
    margin: 0 0 0 auto;
    padding: 35px 57px 28px;
  }
}

.production__title-image {
  content: "";
  position: absolute;
  top: 5px;
  left: 35px;
  width: 32px;
  height: 28px;

  @media (min-width: $tablet-width) {
    top: 5px;
    left: 40px;
  }

  @media (min-width: $desktop-width) {
    top: -19px;
    left: 59px;
  }
}

.production__video {
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    left: 48px;
    width: 682px;
  }
}

.production__video::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 80px;
  width: 101px;
  height: 77px;

  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    top: 188px;
    left: 282px;
  }

  @media (min-width: $desktop-width) {
    top: 189px;
    left: 293px;
  }
}

.production__video:hover::before {
  transform: scale(1.2);
}

.production__video:active::before {
  transform: scale(0.8);
  opacity: 0.3;
}

.production__description {
  margin: 0 0 24px 0;
  padding: 23px 0 0 34px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
    margin-left: auto;
    padding: 5px 0 0 57px;
  }
}

.production__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.production__link {
  display: block;
  width: 190px;
  margin: 0 0 34px 35px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 580px;
    margin: 10px auto 45px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin: 21px 57px 0 auto;
  }
}

.production:hover .production__wrapper {
  box-shadow: 0 10px 25px 0 $grey-border;
}

.production:active .production__wrapper {
  box-shadow: 0 5px 15px 0 $grey-border;
}
