.production {
  width: 320px;
  margin: 0 auto 58px;
  padding: 0 30px;
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;

  border: 1px solid $grey-border;
}

.production__title {
  position: relative;

  margin: 26px 0;
  padding: 0 0 0 91px;

  font: inherit;
  line-height: 24px;
  color: $black;
}

.production__title-image {
  content: "";
  position: absolute;
  top: 5px;
  left: 35px;

  width: 32px;
  height: 28px;
}

.production__video {
  position: relative;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 80px;

    width: 101px;
    height: 77px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.production__video:hover::before {
  transform: scale(1.2);

  transition: all 0.3s linear;
}

.production__video:active::before {
  transform: scale(0.8);
  opacity: 0.3;

  transition: all 0.2s linear;
}

.production__description {
  margin: 0 0 24px 0;
  padding: 23px 0 0 34px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-text;
}

.production__link {
  display: block;
  width: 190px;
  margin: 0 0 34px 35px;

  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .production {
    width: 768px;
    margin: -3px auto 35px;
    padding: 0 50px;
  }

  .production__wrapper {
    width: 668px;
  }

  .production__video {
    order: -1;
    width: 668px;
    height: 455px;

    &::before {
      top: 188px;
      left: 282px;
    }
  }

  .production__title {
    margin: 29px 0 22px;
    padding: 10px 20px 10px 105px;

    font-size: 20px;
    line-height: 24px;
  }

  .production__title-image {
    top: 5px;
    left: 40px;
  }

  .production__description br {
    display: none;
  }

  .production__description {
    padding: 0 38px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__link {
    width: 580px;
    margin: 10px auto;
  }

  .production:hover .production__wrapper {
    box-shadow: 0 10px 25px 0 $grey-border;
  }

  .production:active .production__wrapper {
    box-shadow: 0 5px 15px 0 $grey-border;
  }
}

@media (min-width: $desktop-width) {
  .production {
    position: relative;

    flex-wrap: wrap;
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .production__wrapper {
    width: 1050px;
    padding: 60px 0;
  }

  .production__title {
    width: 33%;
    margin: 0;
    margin-left: auto;
    padding: 35px 57px 28px;
  }

  .production__title-image {
    top: -19px;
    left: 59px;
  }

  .production__description {
    width: 33%;
    margin-left: auto;
    padding: 5px 0 0 57px;
  }

  .production__link {
    width: 230px;
    margin: 21px 57px 0 auto;
  }

  .production__video {
    content: "";
    position: absolute;
    top: 0;
    left: 48px;

    width: 682px;
    height: 455px;

    &::before {
      top: 189px;
      left: 293px;
    }
  }
}
