.reviews {
  position: relative;

  @media (min-width: $desktop-width) {
    margin: 0 0 33px;
  }
}

.reviews::after {
  content: "";
  position: absolute;
  bottom: -48px;
  left: 0;

  width: 100%;
  height: 7px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 320px 7px;

  @media (min-width: $tablet-width) {
    bottom: -28px;
    left: 0;

    width: 100%;
    height: 17px;

    background-size: 788px 17px;
  }

  @media (min-width: $desktop-width) {
    bottom: -30px;
    left: 0;

    height: 21px;

    background-position: 23px 0;
    background-size: 1050px;
  }
}

.reviews__wrapper {
  width: $mobile-width;
  margin: 0 auto 48px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto 57px;
    padding: 78px 0 15px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-position: 0 0;
      background-size: 350px 457px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 72px 0 0 172px;
  }
}

.reviews__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0 45px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  margin: 0;
  padding: 24px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    order: 1;
    padding: 45px 50px 23px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 775px;
    padding: 43px 0 23px 3px;
  }
}

.reviews__item br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__author {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 30px;
  color: $black;
  font-style: normal;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    order: 1;
    margin: 35px 50px 0;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 17px 0 95px 0;
    padding: 0;

    font-size: 17px;
  }
}

.reviews__author-link {
  font-weight: 400;
  color: $color-text;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 3px 0 0 0;
  }
}

.reviews__paging {
  position: relative;

  display: flex;
  margin: 30px 0 38px;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 168px;
    margin: 38px 54px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 3px 0;
  }
}

.reviews__button {
  position: relative;
  width: 50%;
  height: 50px;

  font-size: 0;

  background-color: transparent;
  border: 1px solid $grey-border;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.reviews__icon--prev {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  height: 26px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__icon--next {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  height: 26px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__write {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 176px;
    margin: 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 10px 0 0;
  }
}
