.reviews {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 0 30px;
}

.reviews__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
  padding: 23px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-text;
}

.reviews__author {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 30px;
  color: $black;
  font-style: normal;
}

.reviews__author-link {
  font-weight: 400;
  color: $color-text;
  text-decoration: none;
}

.revies__paging {
  display: flex;
  margin: 35px 0 33px 0;
}

.reviews__button {
  width: 130px;
  height: 50px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-color: $white;
  border: 1px solid $grey-border;
}

.reviews__write {
  display: block;

  text-decoration: none;
}

@media(min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto 100px;
    padding: 78px 0 0 0;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__item {
    order: 1;
    padding: 45px 0 23px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-top: 35px;

    font-size: 18px;
    line-height: 24px;
    &-link {
      line-height: 30px;
    }
  }

  .revies__paging {
    order: 2;
    width: 168px;
    margin-top: 40px;
  }

  .reviews__button {
    width: 50%;
  }

  .reviews__write {
    width: 176px;
  }
}

@media(min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    padding: 72px 0 0 172px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    width: 775px;
  }

  .reviews__author {
    margin: 16px 0 95px 0;
    padding: 0;

    font-size: 17px;
  }

  .revies__paging {
    margin: 16px 0 95px 0;
  }
  
  .reviews__write {
    margin-top: 5px;
  }
}
