.reviews {
  position: relative;

  width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 0 30px;

  &::after {
    content: "";
    position: absolute;
    bottom: -48px;
    left: 0;

    width: 100vw;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: 320px 7px;
  }
}

.reviews__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
  padding: 24px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-text;
}

.reviews__item br {
  display: none;
}

.reviews__author {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 30px;
  color: $black;
  font-style: normal;
}

.reviews__author-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $color-text;
  text-decoration: none;
}

.revies__paging {
  position: relative;

  display: flex;
  margin: 30px 0 90px;
}

.reviews__button {
  font-size: 0;

  background-color: transparent;
  border: 1px solid $grey-border;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button--prev {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 130px;
  height: 50px;

  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.reviews__button--next {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 130px;
  height: 50px;

  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.reviews__write {
  display: block;

  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto 90px;
    padding: 77px 0 15px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-position: 0 0;
      background-size: 350px 457px;
    }

    &::after {
      bottom: -115px;
      left: -16px;

      width: 100vw;
      height: 17px;

      background-size: 768px 17px;
    }
  }

  .reviews__title {
    padding: 0 45px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__item {
    order: 1;
    padding: 42px 50px 23px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    display: flex;
    flex-direction: column;
    order: 1;
    margin: 35px 50px 0;

    font-size: 18px;
    line-height: 24px;

    &--link {
      line-height: 30px;
    }
  }

  .revies__paging {
    order: 2;
    width: 168px;
    margin: 38px 50px;
  }

  .reviews__button {
    width: 50%;

    border: none;
  }

  .reviews__button--prev {
    top: 0;
    left: -5px;
  }

  .reviews__write {
    width: 176px;
    margin: 3px 50px 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    padding: 72px 0 0 172px;

    &::after {
      bottom: -90px;
      left: -175px;

      width: 100vw;
      height: 21px;

      background-position: center 0;
      background-size: 1050px;
    }
  }

  .reviews__title {
    padding: 0;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    width: 775px;
    padding: 45px 0 25px 3px;
  }

  .reviews__item br {
    display: block;
  }

  .reviews__author {
    margin: 16px 0 95px 0;
    padding: 0;

    font-size: 17px;
  }

  .revies__paging {
    margin: 16px 0 95px 0;
  }

  .reviews__write {
    margin: 10px 0 0;
  }
}
