.site-list__link {
  display: block;
  padding: 27px 0 27px 45px;

  line-height: 24px;
  color: $black;
  text-decoration: none;

  &[href] {
    cursor: pointer;
  }

  &--logo {
    width: 260px;
    padding: 21px 87px 16px;
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    cursor: pointer;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 0 35px;

    &--logo {
      padding: 23px 0 13px;
    }

    &--cart {
      padding: 31px 0 35px 83px;
    }

    &--catalog {
      padding: 17px 0;

      font-size: 15px;
      line-height: 24px;
    }

    &--order {
      padding: 17px 0 45px;

      font-size: 15px;
      line-height: 24px;
    }

    &--delivery {
      padding: 17px 0;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 24px;

    &--catalog {
      padding: 31px 0 35px;
      border-right: 1px solid $grey-border;
    }

    &--order {
      padding: 31px 20px 35px 34px;
    }

    &--logo {
      display: flex;
      width: 149px;
      height: 72px;
      margin: 8px 0 0 45px;
      padding: 0;
    }

    &--search {
      font-size: 0;
    }

    &--cart {
      padding: 31px 0 31px 83px;
    }

    &--new,
    &--sale {
      font-size: 15px;
      line-height: 24px;
      color: $black;
      text-decoration: none;
    }

    &--new {
      display: block;
      padding: 17px 0 47px;
    }

    &--sale {
      display: block;
      padding: 16px 34px 47px;
    }

    &--delivery {
      display: flex;
      justify-content: flex-end;
      width: 250px;

      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: $color-text;
    }
  }
}
