.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.site-list__item {
  position: relative;

  list-style: none;

  border-top: 1px solid $grey-border;

  &--card {
    border-bottom: 1px solid $grey-border;
  }

  &--new,
  &--sale,
  &--delivery {
    display: none;
  }
}

.site-list__item--search-image {
  position: absolute;
  top: 33px;
  left: 2px;

  width: 18px;
  height: 18px;

  opacity: 0.2;
}

.site-list__link {
  display: block;
  padding: 27px 0 27px 45px;

  line-height: 24px;
  color: $black;
  text-decoration: none;

  cursor: pointer;

  &--logo {
    width: 260px;
    padding: 30px 87px 16px;
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-list__item {
    height: 89px;

    border: none;

    &--search {
      order: 1;
      width: 84px;
      margin-left: auto;

      font-size: 0;

      border-right: 1px solid $grey-border;
      border-left: 1px solid $grey-border;
    }

    &--card {
      order: 2;
      width: 265px;
      margin: 0;
    }

    &--catalog {
      order: 3;
      width: 167px;
      margin: 0;
    }

    &--order {
      order: 4;
    }

    &--delivery {
      display: flex;
      justify-content: flex-end;
      order: 5;
      width: 245px;
      margin: 0 0 0 auto;

      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: $color-text;
    }
  }

  .site-list__item--search-image {
    top: 37px;
    left: 34px;
  }

  .site-list__link {
    padding: 30px 0 35px;

    &--logo {
      padding: 24px 0 24px;
    }

    &--card {
      padding: 30px 0 35px 83px;
    }

    &--catalog {
      padding: 18px 0 45px;

      font-size: 15px;
      line-height: 24px;
    }

    &--order {
      padding: 18px 0 45px;

      font-size: 15px;
      line-height: 24px;
    }

    &--delivery {
      padding: 17px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 1050px;
    margin: 0 auto;
  }

  .site-list__item--catalog {
    order: 0;
    width: 185px;
  }

  .site-list__item--order {
    order: 1;
    width: 220px;
  }

  .site-list__item--logo {
    flex-grow: 1;
    order: 2;
    align-self: center;
    width: 25%;
  }

  .site-list__item--search {
    order: 3;
    width: 85px;
    margin: 0 0 0 auto;
  }

  .site-list__item--card {
    order: 4;
    width: 266px;
  }

  .site-list__item--new,
  .site-list__item--sale {
    display: block;
    order: 5;
    width: 185px;
    padding: 0 0;
  }

  .site-list__link {
    font-size: 17px;
    line-height: 24px;

    &--catalog {
      padding: 31px 0;
    }

    &--order {
      padding: 31px 20px 31px 34px;
    }

    &--logo {
      display: flex;
      width: 149px;
      height: 72px;
      margin: 8px 0 0 45px;
      padding: 0;
    }

    &--search {
      font-size: 0;
    }

    &--card {
      padding: 31px 0 31px 83px;
    }

    &--new,
    &--sale {
      font-size: 15px;
      line-height: 24px;
      color: $black;
      text-decoration: none;
    }

    &--new {
      display: block;
      padding: 17px 0 47px;
    }

    &--sale {
      display: block;
      padding: 16px 34px 47px;
    }

    &--delivery {
      display: flex;
      justify-content: flex-end;
      width: 250px;

      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: $color-text;
    }
  }
}
