.social {
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 140px;
    margin: 0 85px 0 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 253px 0 0;
  }
}

.social::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;

  width: 260px;
  height: 1px;

  background-color: $grey-border;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social__list {
  display: flex;
  margin: 0 68px;
  padding: 25px 0 15px;
  flex-wrap: nowrap;

  list-style: none;

  @media (min-width: $tablet-width) {
    width: 140px;
    padding: 0;
    margin: 0;
  }
}

.social__item {
  margin: 0 20px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 19px 40px 0 0;
  }
}

.social__link {
  display: block;

  font-size: 0;
  text-decoration: none;
}

.social__item:hover {
  cursor: pointer;
}

.social__item:active .social__link {
  opacity: 0.3;
}

.social__link-image:hover {
  fill: $aquamarine-lighter;
}

.social__link-image:active {
  fill: $aquamarine-lighter;
  opacity: 0.3;
}
