.social {
  min-height: 80px;
  padding: 0 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 260px;
    height: 1px;

    bottom: 0;
    left: 30px;

    background-color: $grey-border;
  }
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  display: block;

  font-size: 0;
  text-decoration: none;

  &--instagramm {
    content: "";
    position: absolute;
    top: 27px;
    left: 58px;

    width: 22px;
    height: 22px;

    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--facebook {
    content: "";
    position: absolute;
    top: 22px;
    left: 120px;

    width: 15px;
    height: 30px;

    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--twitter {
    content: "";
    position: absolute;
    top: 27px;
    left: 175px;

    width: 24px;
    height: 20px;

    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: 145px;
    margin: 0;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .social__link--instagramm {
    top: 33px;
    left: 49px;
  }

  .social__link--facebook {
    top: 27px;
    left: 112px;
  }

  .social__link--twitter {
    top: 33px;
    left: 167px;
  }
}
